# ================================================================
#  NETWORK MONITORING STACK — Environment Variables
#  Copy this file like a .env and complete with your real values/variables
#  NEVER upload the real .env to GitHub
# ================================================================

# ── POSTGRESQL ─────────────────────────────────────────────────
POSTGRES_DB=zabbix
POSTGRES_USER=zabbix
POSTGRES_PASSWORD=change_this_for_a_random_string

# ── ZABBIX ─────────────────────────────────────────────────────
# (use the same variables of PostgreSQL up)
#No additional variables are needed

# ── GRAFANA ────────────────────────────────────────────────────
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=change_this_for_a_secure_psw

# ── N8N ────────────────────────────────────────────────────────
N8N_USER=admin
N8N_PASSWORD=change_this_for_a_secure_psw
# public URL of ngrok 
N8N_WEBHOOK_URL=https://tu-subdominio.ngrok-free.dev

# ── TAILSCALE ──────────────────────────────────────────────────
# Get your auth key from: https://login.tailscale.com/admin/settings/keys
# Recomended: ephemeral=false, reusable=true, expiry=90 días
TS_AUTHKEY=tskey-auth-XXXXX

# ── OPEN WEBUI / OPENROUTER ────────────────────────────────────
# Get your API key from: https://openrouter.ai/keys
OPENROUTER_API_KEY=sk-or-v1-XXXXXXXXXXXXX
# Secret Key of Open Web UI 
OPENWEBUI_SECRET_KEY=change_this_for_a_random_string
